@{ 
    var token = ViewData["token"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - xiaelappc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Home.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Movie.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Login.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Anime.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/FichaPelicula.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Cuenta.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/FichaAnime.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/FichaUsuario.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Noticias.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Privacy1.css")" type="text/css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" ><img src="https://i.ibb.co/7vYwcGP/Xiahel.png" style="width:50px;height:50px;border-radius:5px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                  <input hidden value="@token" id="tokensupplier"/>
                  <ul class="navbar-nav flex-grow-1">
                      @if (token == null)
                      {

                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house">Home</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index"><i class="bi bi-film">Peliculas</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Anime" asp-action="Index"><i class="bi bi-app-indicator">Anime</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Noticias" asp-action="Index"><i class="bi bi-newspaper">Noticias</i></a>
                          </li>
                          <li class="nav-item" id="cuenta">
                              <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index"><i class="bi bi-people">Login/Registro</i></a>
                          </li>
                      }
                      else
                      {

                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house">Home</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index"><i class="bi bi-film">Peliculas</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Anime" asp-action="Index"><i class="bi bi-app-indicator">Anime</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Noticias" asp-action="Index"><i class="bi bi-newspaper">Noticias</i></a>
                          </li>
                          <li class="nav-item" id="cuenta">
                              <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Cuenta"><i class="bi bi-people">Cuenta</i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" id="logoffNavBar"><i class="bi bi-door-open">Cerrar Sesión</i></a>
                          </li>
                      }
                  </ul>
                </div>
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - xiaelappc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
