@model AnimeModel
<div id="fsta" style="background: linear-gradient(rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50)100%),url(@Model.imageurl);background-size: cover;
        background-position:center center;
        font-size: 16px;
        min-height: 40.62em;
        color: white;
        display:flex;
        justify-content:center;
        align-items:center;">
    <div id="fstaa">
        <div id="fstaaa">
            <h1 id="fstitulo">@Model.titulo</h1>
            <p><b>Estrenada:</b> @Model.lanzamiento.Year</p>
            <p><b>Director:</b> @Model.director</p>
        </div>
    </div>
</div>
<div id="fichaanimefather">

    <div class="FichaAnime">
        <h2>FICHA</h2>
        <div id="FichaAnimeIframe">
            <iframe src="@Model.trailerurl"
                    frameborder="0"
                    allowfullscreen
                    style="border-radius:5px"></iframe>
        </div>
        <div id="FichaAnimeContenido">
            <h3>Sipnosis</h3>
            <p>@Model.descripcion</p>
            <h3>Categorias</h3>
            @foreach (var categoria in Model.categoria)
            {
                <p>@categoria</p>
            }
        </div>
    </div>

</div>