@model UserModel
<div id="CUAbuelo">
    <div id="CUContendorPadre" class="container">
        @if (Model.rol == "admin")
        {
            <div id="CUContenedorNavBar" class="row col-md-12">
                <ul id="CUListFather">
                    <li>
                        <button class="CUNavBtn" id="CUBtnNavGeneral">General</button>
                    </li>
                    <li>
                        <button class="CUNavBtn" id="CUBtnNavAjustes">Ajustes</button>
                    </li>
                    <li>
                        <button class="CUNavBtn" id="CUBtnNavAdmin">Admin</button>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div id="CUContenedorNavBar" class="row col-md-12">
                <ul id="CUListFather">
                    <li>
                        <button class="CUNavBtn" id="CUBtnNavGeneral">General</button>
                    </li>
                    <li>
                        <button class="CUNavBtn" id="CUBtnNavAjustes">Ajustes</button>
                    </li>
                </ul>
            </div>
        }

        <div id="CUAvatar">
            <img src="@Model.avatar" loading="lazy" width="200" height="200" />
        </div>

        <div id="CUUserContent">
            <div id="CUInformacion">
                <h2>Información</h2>
                <label for="nickname">Usuario:</label>
                <input type="text" value="@Model.nickname" name="nickname" disabled />
                <label for="age">Edad:</label>
                <input type="text" value="@Model.age" name="age" disabled />
                <label for="mail">Mail:</label>
                <input type="text" value="@Model.mail" name="mail" disabled />
                <label for="rol">Roles:</label>
                <input type="text" value="@Model.rol" name="rol" disabled />
            </div>
        </div>
        <div id="CUDescripcion">
            <h2>Acerca de tí</h2>
            @if (string.IsNullOrEmpty(Model.descripcion))
            {
                <textarea placeholder="Acerca de tí..." cols="80" rows="8" class="CUTextArea"></textarea>
            }
            else
            {
                <textarea placeholder="Acerca de tí" cols="80" rows="8" class="CUTextArea">@Model.descripcion</textarea>
            }

        </div>
        <button id="guardarDescripcion">Guardar</button>
        <input value="Se ha guardado con exito la descripción" disabled class="inputSaveDesc" />
        <div id="CUMfav">
            <h2>Películas Favoritas</h2>
            @foreach (var x in Model.favm)
            {
                <input type="text" value="@x" disabled />
            }

        </div>
        <div id="CUAfav">
            <h2>Animes Favoritos</h2>
            @foreach (var x in Model.favn)
            {
                <input type="text" value="@x" disabled />
            }
        </div>

        <div id="CUAjustes">
            <h2>Ajustes De Cuenta</h2>
            <div>
                <label for="fnickname">Usuario:</label>
                <input type="text" value="@Model.nickname" name="fnickname" id="CUInputAjName" required />
                <button class="CUBtnAjustes" id="CUAJUser"><i class="bi bi-box2-heart"></i></button>
            </div>

            <div>
                <label for="fpass">Password:</label>
                <input type="password" value="" name="fpass" id="CUInputAjPass" required />
                <button class="CUBtnAjustes" id="CUAJPass"><i class="bi bi-box2-heart"></i></button>
            </div>

            <div>
                <label for="fage">Edad:</label>
                <input type="number" value="@Model.age" name="fage" id="CUInputAjAge" required />
                <button class="CUBtnAjustes" id="CUAAge"><i class="bi bi-box2-heart"></i></button>
            </div>

            <div>
                <label for="fmail">Mail:</label>
                <input type="email" value="@Model.mail" name="fmail" id="CUInputAjMail" required />
                <button class="CUBtnAjustes" id="CUAJMail"><i class="bi bi-box2-heart"></i></button>
            </div>
        </div>
        <div id="CUAadmin"></div>
    </div>
    
    
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/Cuenta.js"></script>
}