@model List<MovieModel>
<div class="container col-md-12">
    <div class="row col-md-12">
        <h1 id="mtitulo">Últimas Películas</h1>
        <input id="mbusqueda" type="text" placeholder="Buscar película..." />


    </div>

    <div class="row col-md-12" id="mcardsfather">
        @foreach (var m in Model)
        {
            var id = m.id;
            <div class="mcards" style="background:url(@m.imageurl);background-size:cover;background-position:center center;">
                @*<img src="@m.imageurl" alt="@m.titulo" loading="lazy" />*@
                <div class="mcardcont">
                    <h4>@m.titulo</h4>
                    <p>@m.descripcion</p>
                    <a class="mboton btn-primary" onclick='verFicha("@id")'>Ver Ficha</a>
                </div>
            </div>
        }

    </div>

</div>
@section Scripts
{
    <script>
        const URI = window.location.href;
        console.log(URI)
        $(document).ready(() => {
           
        })
        function verFicha(id) {
            $.ajax({
                url: "/Movie/FichaPelicula",
                type: "GET",
                data: { id: id },
                success: (view) => {
                    var newUri = URI + "/FichaPelicula/" + id;
                    window.location.replace(newUri);
                 
                }
            })
        }
        
        

    </script>
}